<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Cars</title>
  <div th:insert="~{navbar.html}"></div>

  <link rel="stylesheet" href="/table.css">
  <style>
    .search-container {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .search-container input {
      width: 100%;
      padding: 5px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  </style>
</head>
<body>

<h1>Available Cars</h1>
<div class="search-container">
  <input type="text" id="search-input" placeholder="Search...">
</div>
<table>
  <thead>
  <tr>
    <th>Vehicle Number</th>
    <th>Frame Number</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Make</th>
    <th>Color</th>
    <th>Fuel Type</th>
    <th>Gear Type</th>
    <th>Motor</th>
    <th>Price</th>
    <th>Flow</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="car: ${available}">
    <td th:text="${car.vehicle_number}"></td>
    <td th:text="${car.frame_number}"></td>
    <td th:text="${car.brand}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.make}"></td>
    <td th:text="${car.color}"></td>
    <td th:text="${car.fuel_type}"></td>
    <td th:text="${car.gear_type}"></td>
    <td th:text="${car.motor}"></td>
    <td th:text="${car.price}"></td>
    <td th:text="${car.flow}"></td>
  </tr>
  </tbody>
</table>
<div class="footer">
  <p>© 2024 BA - Bil Abonnementen. All rights reserved.</p>
</div>
</body>
</html>
