<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>

        /* Add any required styles here */
    </style>
</head>
<body>
<main>
    <h1>Welcome to Your Dashboard, <span th:text="${employee.userName}">User</span>!</h1>
    <h1>Your Role: <span th:text="${employee.usertype}">User Type</span></h1>

    <section>
        <h2>Dashboard Options</h2>
        <ul>
            <li th:if="${employee.usertype == 'DATAREGISTRATOR' or employee.usertype == 'ADMIN'}">
                <a th:href="@{/dataRegistration}">Data Registration</a>
            </li>
            <li th:if="${employee.usertype == 'DAMAGEREPORTER' or employee.usertype == 'ADMIN'}">
                <a th:href="@{/damageAndPickUp}">Damage And Pickup Report</a>
            </li>
            <li th:if="${employee.usertype == 'BUSINESSDEVELOPER' or employee.usertype == 'ADMIN'}">
                <a th:href="@{/businessDevelopment}">Business Development</a>
            </li>
            <li th:if="${employee.usertype == 'ADMIN'}">
                <a th:href="@{/employeeList}">Manage Employees</a>
            </li>
            <li th:if="${employee.usertype == 'ADMIN'}">
                <a th:href="@{/deleteEmployee}">Delete Employee</a>
            </li>
            <li th:if="${employee.usertype == 'ADMIN'}">
                <a th:href="@{/registration}">Create Employee</a>
            </li>
        </ul>
    </section>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

</main>
</body>
</html>
