<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>

    </style>
    <title>Dashboard</title>
</head>
<body>
<main>
    <h1>Welcome to Your Dashboard, <span th:text="${employee.name}">User</span>!</h1>
    <section>
        <h2>Dashboard Options</h2>
        <ul>
            <li><a href="/dataRegistration" th:href="@{/dataRegistration}">Data Registration</a></li>
            <li><a href="/damageReport" th:href="@{/damageReport}">Damage Report</a></li>
            <li><a href="/businessDevelopment" th:href="@{/businessDevelopment}">Business Development</a></li>
        </ul>
    </section>
</main>
</body>
</html>