<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>
<h1>Overview</h1>
<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Price</th>
        <th>Leased</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.leased ? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>