<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
</head>
<body>
<div class="container">
    <h2>Employee Registration</h2>
    <body>
    <main>
        <h1>Registration</h1>
        <form th:action="@{/registration}" method="post" th:object="${newEmployee}">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" th:field="*{userName}" aria-required="true" required>

            <label for="userPassword">Password:</label>
            <input type="password" id="userPassword" name="userPassword" th:field="*{userPassword}" aria-required="true" required>

            <button type="submit">Register</button>
            <div th:if="${registrationError}" th:text="${registrationError}" role="alert"></div>
        </form>
    </main>
    </body>

</html>