<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
<h1>Update Employee</h1>

<form th:action="@{/updateEmployee}" method="post" th:object="${employee}">
    <input type="hidden" th:field="*{id}" />
    <label>Username:</label>
    <input type="text" th:field="*{userName}" />

    <label>Password:</label>
    <input type="password" th:field="*{userPassword}" />

    <label>Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" />


    <label>User Type:</label>
    <select th:field="*{usertype}">
        <option th:each="type : ${allUserTypes}" th:value="${type}" th:text="${type}"></option>
    </select>
    <button type="submit">Update</button>
</form>


<form action="/employeeList" method="get">
    <button type="submit">Cancel</button>
</form>

<div th:if="${passwordError != null}" style="color: red;">
    <p th:text="${passwordError}"></p>
</div>

<div th:if="${updateSuccess != null}" style="color: green;">
    <p th:text="${updateSuccess}"></p>
</div>

</body>
</html>